---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Upgrdabadleweb - Component concept">
    <main class="min-h-screen bg-stone-50">
        <div class="p">
            <h1>Component : Minimum Piece of Code</h1>
        </div>
        <div>
            <div>
            
            </div>
        </div>
    </main>
</Layout>
