:root {
    --t-pc: 240, 250, 240;
}

table {
    width: 100%;
    border-spacing: 0;
}

tr {
    @apply hover:bg-stone-50
}

td,
th {
    border-bottom: 1px solid #9994;
    padding: 16px;
    border-collapse: collapse;
}

.thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.th {
    background: rgb(var(--t-pc));
    cursor: var(--cursor);
    white-space: nowrap;
}
