---
import Layout from "@/layouts/Layout.astro";
import FlashContactUs from "@/components/FlashContactUs/index.astro";
import Text from '@/astro/Text/index.astro'

---

<Layout nofooter title="Upgradableweb - Contact Us For Business">
    <main class="df jcc min-h-screen bg-yellow-50 p">
        <div>
			<h1 class="tac mb-24">Build <Text>Sites</Text> As Per <img src="google.svg" alt="google business" class="w-24" /> Standards</h1>
            <FlashContactUs />
        </div>
    </main>
</Layout>
