---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';


let res = await fetch('https://astro-bice-five.vercel.app/server')
let data = await res.json()

console.log('data: ', data);

---

<Layout title="Welcome to Astro.">
	<main>
		{JSON.stringify(data)}
		{data.date}
		ok this is my hrml
		<button>Click Me</button>
	</main>
</Layout>

