---
import Socials from "./Socials/index.jsx";
---

<footer class="text-white bg-stone-800 px pb-10 pt-20">
    <h2>Upgradableweb</h2>
    <p>
        Upgradableweb aim to one time compilation of Code Components(Min peace
        of Code) of Most required Coding frameworks to any other coding
        launguage Or Update the Same Code in a single Click with out actual
        coding. Learn one Framework and transfor to other required or testing
        Frameworks without need to learning them.
    </p>
    <Socials />
    <p class="tac">&copy; All rights Reserved 2020 - 2024</p>
    <br />
</footer>
